<div class="container-fluid d-flex">

  <div class="row">

    <!--Grid column-->

    <div class="col-md-12">

      <!--Spied element-->
      <div class="scrollspy-example z-depth-1 text-center p-0">

        <section mdbScrollSpyElement="scrollspy4" id="section1" class="p-5 blue lighten-4">
          <h3>Patch 1.3</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure exercitationem mollitia
            fugit asperiores temporibus magnam perspiciatis. Repellat quisquam culpa odit! Dolore non consequuntur
            dignissimos adipisci tenetur debitis, quisquam culpa.
            Laborum officiis deserunt, assumenda pariatur vel dolorum provident beatae tenetur nihil quo dicta eius enim
            cumque reprehenderit voluptate nam aperiam eveniet et iusto at magni. Necessitatibus laborum assumenda
            consequuntur voluptate.
            Recusandae mollitia sequi in aperiam enim nesciunt incidunt, cumque ut voluptates ea nam quam beatae maxime
            voluptatem. Accusamus, animi vel eaque voluptatibus ipsam odio est, minus obcaecati praesentium nam iure!
          </p>
        </section>

        <section mdbScrollSpyElement="scrollspy4" id="section2" class="p-5 red lighten-4">
          <h3>Patch 1.2</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure exercitationem mollitia
            fugit asperiores temporibus magnam perspiciatis. Repellat quisquam culpa odit! Dolore non consequuntur
            dignissimos adipisci tenetur debitis, quisquam culpa.
            Laborum officiis deserunt, assumenda pariatur vel dolorum provident beatae tenetur nihil quo dicta eius enim
            cumque reprehenderit voluptate nam aperiam eveniet et iusto at magni. Necessitatibus laborum assumenda
            consequuntur voluptate.
            Recusandae mollitia sequi in aperiam enim nesciunt incidunt, cumque ut voluptates ea nam quam beatae maxime
            voluptatem. Accusamus, animi vel eaque voluptatibus ipsam odio est, minus obcaecati praesentium nam iure!
          </p>
        </section>

        <section mdbScrollSpyElement="scrollspy4" id="section3" class="p-5 green lighten-4">
          <h3>Patch 1.1</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure exercitationem mollitia
            fugit asperiores temporibus magnam perspiciatis. Repellat quisquam culpa odit! Dolore non consequuntur
            dignissimos adipisci tenetur debitis, quisquam culpa.
            Laborum officiis deserunt, assumenda pariatur vel dolorum provident beatae tenetur nihil quo dicta eius enim
            cumque reprehenderit voluptate nam aperiam eveniet et iusto at magni. Necessitatibus laborum assumenda
            consequuntur voluptate.
            Recusandae mollitia sequi in aperiam enim nesciunt incidunt, cumque ut voluptates ea nam quam beatae maxime
            voluptatem. Accusamus, animi vel eaque voluptatibus ipsam odio est, minus obcaecati praesentium nam iure!
          </p>
        </section>

        <section mdbScrollSpyElement="scrollspy4" id="section4" class="p-5 indigo lighten-4">
          <h3>Patch 1.0</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure exercitationem mollitia
            fugit asperiores temporibus magnam perspiciatis. Repellat quisquam culpa odit! Dolore non consequuntur
            dignissimos adipisci tenetur debitis, quisquam culpa.
            Laborum officiis deserunt, assumenda pariatur vel dolorum provident beatae tenetur nihil quo dicta eius enim
            cumque reprehenderit voluptate nam aperiam eveniet et iusto at magni. Necessitatibus laborum assumenda
            consequuntur voluptate.
            Recusandae mollitia sequi in aperiam enim nesciunt incidunt, cumque ut voluptates ea nam quam beatae maxime
            voluptatem. Accusamus, animi vel eaque voluptatibus ipsam odio est, minus obcaecati praesentium nam iure!
          </p>
        </section>

      </div>
      <!--/.Spied element-->

    </div>
    <!--Grid column-->

  </div>


  <div class="row">
    <div class="col-md-4 mb-4 absolute">
      <div class="mdb-scrollspy-ex">
        <ul mdbScrollSpy="scrollspy4" class="mt-5 nav nav-pills default-pills smooth-scroll">
          <button class="bttn-material-flat bttn-xs bttn-primary"><a mdbScrollSpyLink="section1" class="nav-link"
              href="#section1">Patch 1.3</a></button>
          <button class="bttn-material-flat bttn-xs bttn-primary"><a mdbScrollSpyLink="section2" class="nav-link"
              href="#section2">Patch 1.2</a></button>
          <button class="bttn-material-flat bttn-xs bttn-primary"><a mdbScrollSpyLink="section3" class="nav-link"
              href="#section3">Patch 1.1</a></button>
          <button class="bttn-material-flat bttn-xs bttn-primary"><a mdbScrollSpyLink="section4" class="nav-link"
              href="#section4">Patch 1.0</a></button>
        </ul>
      </div>
    </div>
    <img class="mx-auto"src="./../../../../../assets/img/vicking-icon.png" alt="">
  </div>
</div>